<div class="home">
  <hen-profile-image src="profile.picture"></hen-profile-image>

  <div class="panel panel-default">
    <div class="panel-heading">Welcome {{profile.nickname}}</div>

    <div class="list-group">
      <button class="btn list-group-item-info list-group-item" ng-click="callApi()">Call API</button>
      <button class="btn list-group-item-info list-group-item" ng-click="callScopedApi()">Call scoped API</button>
      <button class="btn list-group-item list-group-item" ng-click="logout()">Logout</button>
    </div>
  </div>

  <hen-code-panel ng-if="profile" header="'Profile'" content="profile"></hen-code-panel>

  <hen-code-panel ng-if="response" header="'Response'" content="response"></hen-code-panel>
</div>
