<div class="login-page row" ng-controller="LoginCtrl">
  <div class="login-box auth0-box col-12">
    <div class="panel panel-default">
      <div class="panel-heading">MrHen Auth Portal</div>

      <div class="panel-body">
        <button class="btn btn-primary btn-lg btn-block" ng-click="signin()">SignIn</button>
      </div>

      <div class="panel-body">
        <p>Visit one of our sites:</p>
        <ul>
          <li>Placeholder</li>
          <li>Placeholder</li>
          <li>Placeholder</li>
        </ul>
      </div>
    </div>
  </div>
</div>
